@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 18px;
}

.line-clamp-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}